<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style4.css" />
    <link rel="stylesheet" href="../assets/css/nav.css" />
    <title>Personal Web</title>
  </head>
  <body>
    <nav>
      <!-- Bagian kiri -->
      <div class="left">
        <img
          src="../assets/uploads/icon/monster.webp"
          alt="Logo"
          class="logo"
        />
        <div class="menu">
          <a href="task2">Home</a>
          <a href="#">My Project</a>
        </div>
      </div>

      <!-- Bagian kanan -->
      <div class="right">
        <a href="task3">
          <button class="btn">Contact Me</button>
        </a>
      </div>
    </nav>
    <div class="canvas">
      <div class="form">
        <h2>ADD MY PROJECT</h2>

        <!-- Bagian form -->
        <form id="myForm" action="" autocomplete="off">
          <label for="project">Project Name</label><br />
          <input type="text" id="project" required />

          <div class="date-container">
            <div class="date-field">
              <label for="startDate">Start Date</label><br />
              <input type="date" id="startDate" required />
            </div>
            <div class="date-field">
              <label for="endDate">End Date</label><br />
              <input type="date" id="endDate" required />
            </div>
          </div>

          <label for="description">Description</label><br />
          <textarea id="description" name="description" rows="4"></textarea>

          <label for="tech">Technologies</label>
          <div class="checkbox-group">
            <label>
              <input type="checkbox" id="nodeJS" name="tech" value="nodeJS" />
              Node JS
            </label>
            <label>
              <input type="checkbox" id="nextJS" name="tech" value="nextJS" />
              Next JS
            </label>
            <label>
              <input type="checkbox" id="reactJS" name="tech" value="reactJS" />
              React JS
            </label>
            <label>
              <input
                type="checkbox"
                id="typeScript"
                name="tech"
                value="typeScript"
              />
              TypeScript
            </label>
          </div>

          <label for="imageUpload">Upload Image</label>
          <input
            type="file"
            id="imageUpload"
            name="imageUpload"
            accept="image/*"
          />

          <div class="submit-container">
            <input type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>

    <!-- Bagian preview -->
    <div class="preview">
      <h2>MY PROJECT</h2>
      <div class="listProject"></div>
    </div>

    <!-- <script src="src/index.js"></script> -->

    <script src="src/index.js"></script>
    <script src="src/loadDummy.js" type="module"></script>
    <!-- <script type="module" src="test.js"></script> -->

    <!-- SweetAlert2 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script> -->
  </body>
</html>