<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style3.css" />
    <link rel="stylesheet" href="../assets/css/nav.css" />
    <title>Personal Web</title>
  </head>
  <body>
    <nav>
      <!-- Bagian kiri -->
      <div class="left">
        <img
          src="../assets/uploads/icon/monster.webp"
          alt="Logo"
          class="logo"
        />
        <div class="menu">
          <a href="task2">Home</a>
          <a href="task4">My Project</a>
        </div>
      </div>

      <!-- Bagian kanan -->
      <div class="right">
        <a href="#">
          <button class="btn">Contact Me</button>
        </a>
      </div>
    </nav>

    <div class="canvas">
      <div class="form">
        <h2>GET IN TOUCH</h2>

        <!-- Bagian form -->
        <form action="">
          <label for="name">Name</label><br />
          <input type="text" id="name" />

          <label for="email">Email</label><br />
          <input type="email" id="email" />

          <label for="phoneNumber">Phone Number</label><br />
          <input type="tel" id="phoneNumber" />

          <label for="subject">Subject</label>
          <select id="subject" name="subject">
            <option value="" disabled selected></option>
            <option value="opsi1">Opsi 1</option>
            <option value="opsi2">Opsi 2</option>
            <option value="opsi3">Opsi 3</option>
          </select>
          <br />

          <label for="message">Your Message</label><br />
          <textarea id="message" name="message" rows="4"></textarea>

          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </body>
</html>