<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style2.css" />
    <link rel="stylesheet" href="../assets/css/nav.css" />
    <title>Day 2</title>
  </head>
  <body>
    <nav>
      <!-- Bagian kiri -->
      <div class="left">
        <img
          src="../assets/uploads/icon/monster.webp"
          alt="Logo"
          class="logo"
        />
        <div class="menu">
          <a href="task2">Home</a>
          <a href="task4">My Project</a>
        </div>
      </div>

      <!-- Bagian kanan -->
      <div class="right">
        <a href="task3">
          <button class="btn">Contact Me</button>
        </a>
      </div>
    </nav>
    <div class="container">
      <!-- Bagian kiri -->
      <div class="leftSide">
        <h1>Welcome to my hut</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem enim non
          iusto corporis ex ullam minus, consequuntur eaque! Quia nisi eligendi
          cumque repellat officia quibusdam nesciunt minus earum voluptatum
          nemo, officiis voluptate laudantium! Impedit, accusantium incidunt
          repellendus veniam voluptatum perferendis, consectetur expedita autem
          aperiam velit, id optio corporis! Nostrum cupiditate, dolor accusamus
          ipsum eos, illum itaque voluptatibus repudiandae facilis delectus
          suscipit fugiat, optio eum ratione assumenda natus. Quisquam debitis
          quidem velit. Facilis natus asperiores ab veniam sint deserunt eveniet
          tempora error quas! Omnis quaerat exercitationem itaque harum dicta.
          Cum nesciunt temporibus amet, expedita autem obcaecati ipsa voluptas
          error ducimus ipsam?
        </p>
        <div class="leftMid">
          <a href="task3.html" target="_blank">
            <button class="contact">Contact</button>
          </a>
          <a href="#">
            <button class="download">
              Download CV
              <img
                src="../assets/uploads/icon/download.png"
                alt="Download Icon"
              />
            </button>
          </a>
        </div>
        <div class="leftBottom">
          <a
            href="https://obluda.fandom.com/wiki/Johan_Liebert"
            target="_blank"
          >
            <img src="../assets/uploads/icon/linkedin.png" alt="LinkedIn" />
          </a>
          <a
            href="https://obluda.fandom.com/wiki/Johan_Liebert"
            target="_blank"
          >
            <img src="../assets/uploads/icon/facebook.png" alt="Facebook" />
          </a>
          <a
            href="https://obluda.fandom.com/wiki/Johan_Liebert"
            target="_blank"
          >
            <img src="../assets/uploads/icon/instagram.png" alt="Instagram" />
          </a>
          <a
            href="https://obluda.fandom.com/wiki/Johan_Liebert"
            target="_blank"
          >
            <img src="../assets/uploads/icon/twitter.png" alt="Twitter" />
          </a>
        </div>
      </div>

      <!-- Bagian kanan -->
      <div class="rightSide">
        <img src="../assets/uploads/Johan.jpeg" alt="Johan Liebert" />
        <h4>Johan Liebert</h4>
        <p>Monster</p>
      </div>
    </div>
  </body>
</html>